run = "npm run dev"
entrypoint = "server/index.ts"

[nix]
channel = "stable-23_11"

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 3000

[languages]
[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[env]
NODE_ENV = "development"
PORT = "5000"
VITE_PORT = "5173"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "tsconfig.json"]